//@import "./test.scss";

.hide {
    display: none;
}
/* ----login and register CSS---- u-*/
.login_register_form {
    background-image: linear-gradient(135deg, #FAB2FF 10%, #1904E5 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Open Sans", sans-serif;
    color: #333333;
    height: 100%;
  }
#login_form {
    display: flex;
    align-items: center;
    height: 100vh;
}

#register_form {
    display: flex;
    align-items: center;
    height: 100vh;
}

.box_form {
    margin: 20px auto 0px;
    width: 80%;
    background: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    /* flex: 1 1 100%; */
    align-items: stretch;
    justify-content: space-between;
    box-shadow: 0 0 20px 6px #090b6f85;
  }

.box_form-left {
    /* width: 100%;  */
    /* height: 100%;  */
    flex: 1.5;
    padding: 30px;
    color: #FFFFFF;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/img/IMG_1778.JPG');
    overflow: hidden;
    box-sizing: border-box;
}

.box_form-right {
    flex: 1;
    padding: 40px;
}
.box_form-right p {
    font-size: 14px;
    color: #B0B3B9;
}

.inputs_login_register_form {
    overflow: hidden;
}

.inputs_login_register_form .form_group input {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 2px solid #B0B3B9;
}

.inputs_login_register_form .form_group p {
    margin: auto;
}

.remember_me-forget_password {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remember_me-forget_password input {
    padding-top: 2px;
    margin: 0px;
    width: auto;
}

.remember_me-forget_password p {
    margin: 0;
    font-size: 14px;
    color: #B0B3B9
}

.form_submit {
   
    color: #fff;
    font-size: 16px;
    padding: 12px 35px;
    margin-top: 20px;
    border-radius: 50px;
    /* display: inline-block; */
    border: 0;
    outline: 0;
    box-shadow: 0px 4px 20px 0px #49c628a6;
    background-image: linear-gradient(135deg, #70F570 10%, #49C628 100%);
    cursor: pointer;
    float: right; 
}

/* .form_submit:hover {
    cursor: pointer;
    box-shadow: 0px 4px 20px 0px #2aa0dfa6;
    background-image: linear-gradient(135deg, #709af5 10%, #287fc6 100%);

} */

/* payment page CSS */

.container_label input[type="radio"] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 8px 0px 5px;
    padding: initial;
    border: initial;  
} 

body {
    margin: auto;
}

html .payment_page {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #efefef;
}
.payment_page {
    font-family: "Open Sans", sans-serif;
}

.header_payment {
    background-color: #ffffff;
}

.header_payment .header_container .logo{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 100px;
    margin-left: 10px;
    
}

.header_container .logo .divider {
    width: 1px;
    height: 32px;
    background-color: rgb(26, 148, 255);
    margin: 0px 16px;
    display: block;
}

.header_container .logo .tiltle {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: rgb(26, 167, 255);
}

.container_payment {
    display: flex;
    flex-wrap: wrap;
    /* width: 1270px; */
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 80px;
    margin-right: auto;
    margin-left: auto;
    background-color: #bfdff4;
}

.payment_left {
    width: 700px;
    margin-right: 20px;
    /* border-radius: 8px;
    overflow: hidden;
    background-color: #ffffffff; */
}
.selection_container {
    position: relative;
    padding: 16px;
    margin-bottom: 16px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}

.selection_container_child {
    margin-left: 20px;
    position: relative;
    width: 497px;
    padding-bottom: 16px;
    margin-bottom: 16px;
}


.container_label {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}

.payment_left .delivery_select .shipping_type {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}

.payment_left .product_list .product_list_info #delivery_type input {
    display: none;
}

.delivery {
    margin: 10px auto 20px;
}

.delivery_select {
    position: relative;
    width: 400px;
    padding-bottom: 16px;
    /* margin-bottom: 16px; */
    background: rgb(240, 248, 255);
    border: 1px solid rgb(194, 225, 255);
    border-radius: 10px;
    padding: 16px;
    display: grid;
    row-gap: 12px;
}

.delivery_tiltle {
    color: rgb(56, 56, 61);
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    /* margin: 0px; */
}

.methods-arrow {
    z-index: 0;
    position: absolute;
    width: 32px;
    height: 12px;
    left: 70%;
    bottom: 18px;
    transform: translate(-50%, 100%);
}

.product_list {
    /* width: 100%; */
    border-radius: 12px;
    border: 1px solid rgb(221, 221, 227);
    margin: 20px 20px 20px 20px;
    padding: 20px 16px 16px;
    position: relative;
    display: flex;
    z-index: 0;
}

.delivery_time {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    color: rgb(7, 148, 73);
    padding: 0px 4px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0px;
    left: 12px;
    transform: translateY(-50%);
}

.product_list_info {
    margin-right: 46px;
    max-width: 482px;
}

.package_summary {
    margin-top: 8px;
    width: 482px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.delivery_type {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.method_logo {
    margin-right: 4px;
}

.method_text {
    text-transform: uppercase;
}

.shipping_cost {
    line-height: 28px;
    //display: flex;
    -webkit-box-align: center;
    align-items: center;     
    color: #f43030db;
    font-weight: 600;
    font-size: 12px;
}

.item_product {
    display: flex;
    padding: 12px 0px;
    -webkit-box-align: center;
    align-items: center;
}

.item_product .item_icon {
    margin-right: 8px;
    flex-shrink: 0;
    max-height: 48px;
}

.item_product .item_info {
    font-size: 14px;
    line-height: 20px;
    color: rgb(128, 128, 137);
    flex: 1 1 0%;
}

.item_product .item_info_first_line {
    display: flex;
    margin-bottom: 4px;
    padding-right: 20px;
}

.item_product .item_info_first_line .product_name {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.item_product .item_info_second_line {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.item_product .item_info_second_line .info_price {
    color: rgb(56, 56, 61);
    font-weight: 700;
}

.selection_payment {
    position: relative;
    padding: 16px;
    margin-bottom: 16px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}

.payment_right {
    /* width: auto; */
    /* margin-right: 20px; */
    flex: 1;
    /* border-radius: 8px; */
    overflow: hidden;
    /* background-color: #ffffffff; */
}

.payment_right .user_info {
    border-radius: 4px;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    padding: 16px;
    margin-bottom: 16px;
    background-color: rgb(255, 255, 255);
}

.payment_right .user_info h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: rgb(128, 128, 137);
    font-weight: normal;
    margin: 0px;    
}

.payment_right .style_order_summary {
    border-radius: 4px;
    margin-bottom: 12px;
    padding: 0px;
    position: relative;
    padding: 16px;
    margin-bottom: 16px;
    background-color: rgb(255, 255, 255);
}

.payment_right .block_header {
    font-size: 14px;
    line-height: 20px;
    padding: 16px;
    border-bottom: 1px solid rgb(235, 235, 240);
}

.payment_right .block_header h3 {
    font-weight: 500;
    color: rgb(56, 56, 61);
    margin: 0px;
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.payment_right .block_header .sub-title-text {
    color: rgb(128, 128, 137);
    font-weight: 400;
    margin: 0px 4px 0px 0px;
}

.payment_right .summary_info {
    padding: 8px 16px;
    display: grid;
    gap: 4px;
    font-size: 14px;
    line-height: 20px;
}

.payment_right .summary_info_ {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.payment_right .summary_info_ .summary-label {
    color: rgb(128, 128, 137);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.payment_right .summary_info_ .summary-value {
    color: rgb(56, 56, 61);
}

.jFlDlb {
    width: 100%;
    height: 1px;
    background-color: rgb(235, 235, 240);
    margin: 0px auto;
}

.payment_right .order_total {
    padding: 8px 16px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.payment_right .order_total .order-total__label{
    font-size: 14px;
    line-height: 20px;
    color: rgb(56, 56, 61);
}

.payment_right .order_total .order-total__value{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.order-total__total {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: rgb(255, 66, 78);
}

.order-total__additional-text {
    font-size: 12px;
    line-height: 16px;
    color: rgb(128, 128, 137);
}

.contain_payment_btn {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.contain_payment_btn .payment_btn {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 44px;
    /* background-color: rgb(255, 255, 255); */
    outline: 0px;
    cursor: pointer;
    /* border: 1px solid rgb(11, 116, 229); */
    /* color: rgb(11, 116, 229); */
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;

    margin: 0px 16px 16px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 66, 78);
    border: none;
}

.payment_page .payment_right .user_info .form_group p {
    font-size: 14px;
    color: #B0B3B9;
}

.payment_footer {
    width: auto;
    height: 100px;
    background-color: aliceblue;
}

/*-------------SHOPING CART CSS------------------*/

.container_cart {
    /* width: 1270px; */
    min-height: 450px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background-color: #bfdff4;
}

.cart_left {
    flex: 1 1 534px;
    padding-top: 20px;
}

.order_overview {
    background: #c9e8fbf2;
    padding: 9px 16px;
    border-radius: 4px;
    color: rgb(36, 36, 36);
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 12px;
    position: sticky; 
    top: 60px;
    z-index: 99;
    display: grid;
    grid-template-columns: 400px 170px 110px 70px 60px;
    -webkit-box-align: center;
    align-items: center;
}

.order_overview .select_all_product {
    display: inline-block;
}

.order_overview .select_all_product .label {
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
}
.row {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px -15px;
}
.row .col-1 {
    width: 380px;
    padding: 0px 15px;
}

.row .col-1 .product_images {
    display: flex;
}

.row .col-1 .product_images .product_checkbox {
    position: relative;
    top: 40px;
    height: 20px;
    margin-right: 10px;
}

.row .col-1 a {
    text-decoration: none;
    color: black;
}

.row .col-1 .product_images .img_product {
    display: inline-block;
}

.row .col-1 .product_content {
    width: calc(100% - 100px);
    padding-left: 10px;
    position: relative;
}

.row .col-1 .product_content .product_name {
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 16px;
    color: rgb(36, 36, 36);
    margin-bottom: 5px;
    line-height: 20px;
}

.row .col-2 {
    width: 150px;
    padding: 0px 15px;
}

.row .col-2 .product_wrap_price {
    margin: 0px;
    padding: 0px;
}

.row .col-2 .product_wrap_price .product__real_prices {
    font-weight: 700;
    color: rgb(36, 36, 36);
    font-size: 14px;
    display: inline-block;
    margin-right: 5px;
}

.row .col-3 {
    width: 140px;
    padding: 0px 15px;
}

.col-3 .q-ty_mess {
    color: red;
    font-size: 10px;
    text-align: center;
}

.row .col-3 .gEpOC {
    display: inline-flex;
    flex-wrap: nowrap;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 3px;
    width: 87px;
}

.row .col-3 .product-qty {
    width: 90px;
    height: 25px
}

.gEpOC .qty-decrease, .gEpOC .qty-increase {
    display: inline-block;
    border-right: 1px solid rgb(200, 200, 200);
    color: rgb(153, 153, 153);
    cursor: pointer;
    width: 30px;
    height: 24px;
}

.gEpOC .qty-increase {
    border-right: none;
    border-left: 1px solid rgb(200, 200, 200);
}

.gEpOC .qty-input {
    border: none;
    background: transparent;
    width: 32px;
    text-align: center;
    font-size: 13px;
    appearance: none;
    margin: 0px;
    outline: none;
}

.row .col-4 {
    width: 80px;
    padding: 0px 15px;
}

.row .col-4 .product__final-prices {
    color: rgb(255, 66, 78);
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    //display: block;
}

.row .col-5 {
    width: 40px;
    text-align: right;
}

.row .col-5 .product__delete {
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.row .product__delete img {
    width: 17px;
    height: 17px;
}

.cart_right {
    flex: 1 1 calc(100% - 925px);
    margin-left: 20px;
    display: block;
    padding-top: 20px;
}

.cart_right .right_inner {
    position: sticky;
    top: 60px;
}

.cart_right .temporary_total_amount {
    background: rgb(255, 255, 255);
    border-radius: 4px;
    padding-bottom: 8px;
}

.cart_right .prices__items {
    list-style: none;
    margin: 0px;
    padding: 17px 20px;
    border-bottom: 2px solid rgb(244, 244, 244);
}

.cart_right .prices__item {
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;

}

.cart_right .prices__text {
    font-weight: 300;
    color: rgb(51, 51, 51);
    display: inline-block;
}

.cart_right .prices__total {
    padding: 17px 20px;
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0px;
}

.cart_right .prices__total .prices__text {
    font-weight: 300;
    color: rgb(51, 51, 51);
    display: inline-block;
}

.cart_right .prices__total .prices__content {
    text-align: right;
}

.cart_right .prices__total .prices__content .prices__value--final {
    color: rgb(254, 56, 52);
    font-size: 22px;
    font-weight: 400;
    text-align: right;
}

.cart_right .prices__total .prices__content .prices__value--noted {
    font-weight: 300;
    font-style: normal;
    display: block;
    font-size: 12px;
    color: rgb(51, 51, 51);
    margin-top: 3px;
}

.button_cart {
    background: rgb(255, 66, 78);
    color: rgb(255, 255, 255);
    padding: 13px 10px;
    text-align: center;
    border-radius: 4px;
    border: none;
    width: 100%;
    display: block;
    cursor: pointer;
    margin: 15px 0px 0px;
}

.blur_button {
    opacity: 0.5;
}
