* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
  }
  
  header {
    background-color: #f63;
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    position: fixed;
    z-index: 100;
  }
  
  li {
    list-style: none;
  }
  
  .logo {
    display: flex;
    position: relative;
    width: 60px;
    left: 45%;
    /* right: 50%; */
  }
  
  .logo img {
    /* position: absolute; */
    /* left: 40vw; */
    height: 60px;
    width: 60px;
    /* width: auto; */
  }
  
  .search {
    margin: 10px 50px;
    left: 60vw;
    background-color: white;
    width: 20vw;
    height: 40px;
    border-radius: 5px;
    position: absolute;
    display: flex;
  }
  
  .search__input {
    margin: 5px 10px;
    border: none;
    width: 90%;
    height: 30px;
    font-size: 20px;
    outline: none;
    cursor: text;
    background-color: white;
  }
  
  .search__btn {
    border: none;
    background-color: white;
    position: relative;
    right: 5px;
    font-size: 25px;
    color: #5f6368;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .other {
    position: relative;
    width: 15%;
    left: 85%;
  }
  
  .other__authentication {
    display: flex;
    column-gap: 10px;
  }
  
  .other__authentication>li>a {
    color: white;
    font-size: 17px;
  }
  
  .other__individual {
    margin-left: 10px;
    display: flex;
    column-gap: 20px;
  }
  
  .other__individual i {
    color: #551a8b;
    font-size: 22px;
    margin-left: 5px;
    cursor: pointer;
  }
  
  .category {
    width: 40%;
    line-height: 60px;
    display: flex;
    position: absolute;
  }
  
  .category-item {
    position: relative;
  }
  
  .category-item__parent {
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    color: white;
    padding: 0px 40px;
    min-width: 125px;
  }
  
  .category-item:hover .category-item__parent {
    color: black;
    background-color: white;
    font-size: 21px;
  }
  
  .category-item__child {
    min-width: 250px;
    position: absolute;
    background-color: #d8d9db;
    display: none;
    box-shadow: 5px 5px 5px #ffffff;
    border-radius: 2px;
  }
  
  .category-item:hover .category-item__child {
    display: block;
  }
  
  .category-item__child .category_child {
    font-size: 20px;
    padding: 0px 10px;
    cursor: pointer;
  }
  
  .category-item__child .category_child:hover {
    color: white;
    background: rgba(26, 27, 27, 0.3);
  }
  
  .individual {
    position: absolute;
  }
  
  .individual__dropdown {
    width: 200px;
    left: -50px;
    background-color: rgb(194, 194, 194);
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: none;
  }
  
  .individual__dropdown a {
    margin: 5px 0px;
    border: 3px rgb(194, 194, 194) solid;
    background-color: aliceblue;
    text-decoration: none;
    width: 150px;
    height: 35px;
    position: relative;
    left: 20px;
    display: flex;
    justify-content: center;
    line-height: 30px;
    cursor: pointer;
  }
  
  // .individual__logout {
  //   width: 150px;
  //   height: 35px;
  //   position: relative;
  //   background-color: aliceblue;
  //   top: 20px;
  //   left: 20px;
  //   display: flex;
  //   justify-content: center;
  //   line-height: 0px;
  //   cursor: pointer;
  // }
  .cart {
    margin-left: 50px;
  }
  
  .showDropdown {
    display: block;
  }
  
  @keyframes fading {
    0% {
      opacity: 0.5;
    }
  
    50% {
      opacity: 1;
    }
  
    80% {
      opacity: 1;
    }
  
    100% {
      opacity: 0.9;
    }
  }
  
  .cart_button {
    background: rgba(249, 250, 250, 0);
    color: white;
    text-align: center;
    border-radius: 4px;
    border: none;
    width: 100%;
    display: block;
    cursor: pointer;
  }
  
  .fa-cart-shopping {
    font-size: 30px;
  }