
.content {
    margin: 25px 100px;
    display: flex;
    flex-wrap: wrap;
    column-count: auto;
    column-width: auto;
}

.title {
    position: relative;
    margin-top: 60px;
    width: 100vw;
    height: 150px;
    background-color: #565d9e;
    font-size: 40px;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    display: flex;
}

.product {
    position: relative;
    border: 2px solid rgb(167, 167, 167);
    margin: 30px auto;
    width: 260px;
    height: 400px;
    background-color: rgb(212, 212, 212);
    justify-content: space-around;
}

.product:hover {
    margin: 25px calc(auto - 5px);
    border: none;
    background-color: rgb(255, 251, 0);
    cursor: pointer;
}

.product__image {
    width: 100%;
    height: 75%;
    position: relative;
}


.product__image > img {
    width: 100%;
    height: 100%;
}

.product:hover .product__image {
    animation:fading 3s infinite
    
}


@keyframes fading {
    0%{opacity:0.5}50%{opacity:1}80%{opacity:1}100%{opacity:0.9}
}

.product__name {
    margin-top: 5px;
    color: rgb(17, 15, 15);
    font-size: 20px;
}

.product__price {
    position: absolute;
    bottom: 10px;
    left: 0px;
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 30px;
    color: #040a42
}

.product__price span {
    text-decoration-line: line-through;
    color: #585858;
    font-size: 25px;
}

.product__cart {
    font-size: 30px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: none;
}

.product__cart:hover {
    color: rgb(245, 241, 40);
}



.cart_button {
    background: rgba(249, 250, 250, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 4px;
    border: none;
    width: 100%;
    display: block;
    cursor: pointer;
}

.fa-cart-shopping {
    font-size: 30px;
}

.content-title {
    position: absolute;
    top: 100px;
    left: 20vw;
    font-size: 40px;
    
}