<!DOCTYPE html>
<html lang="en">

{{> head-admin}}

<body>
   {{> header-admin}}
    <div class="content-wrapper">
        <div class="content-header">
            <div class="content-header-left">
                <i class="fa-solid fa-circle-right"></i><span>Màu</span>
            </div>
            <div class="content-header-right"><a href="/admin/color-add">Thêm màu</a></div>
        </div>
        <div class="content">
            <table id="example">
                <thead>
                    <tr>
                        <th style="width: 10vw;">STT</th>
                        <th style="width: 40vw">Màu</th>
                        <th style="width: 40vw">Thay đổi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1</th>
                        <th>Đen</th>
                        <th>
                            <button class="btn btn-edit">Sửa</button>
                            <button class="btn btn-delete">Xóa</button>
                        </th>
                    </tr>
                    <tr>
                        <th>2</th>
                        <th>Trắng</th>
                        <th>
                            <button class="btn btn-edit">Sửa</button>
                            <button class="btn btn-delete">Xóa</button>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="/js/admin.js"></script>
</body>

</html>