<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    {{> header-admin}}
    <div class="content-wrapper">
        <div class="content-header">
            <div class="content-header-left">
                <i class="fa-solid fa-circle-right"></i><span>Tổng quan</span>
            </div>
        </div> 

        <div class="content">
            <div class="info-box">
                <div class="info-box__icon">
                    <i class="fa-regular fa-hand-point-right"></i>
                </div>
                <div class="info-box__text">
                    <span>Sản phẩm</span>
                </div>
                <div class="info-box__number">
                    <span>20</span>
                </div>
            </div>

            <div class="info-box">
                <div class="info-box__icon">
                    <i class="fa-regular fa-hand-point-right"></i>
                </div>
                <div class="info-box__text">
                    <span>Đơn hàng</span>
                </div>
                <div class="info-box__number">
                    <span>10</span>
                </div>
            </div>

            <div class="info-box">
                <div class="info-box__icon">
                    <i class="fa-regular fa-hand-point-right"></i>
                </div>
                <div class="info-box__text">
                    <span>Đơn hàng đang giao</span>
                </div>
                <div class="info-box__number">
                    <span>5</span>
                </div>
            </div>
            
            <div class="info-box">
                <div class="info-box__icon">
                    <i class="fa-regular fa-hand-point-right"></i>
                </div>
                <div class="info-box__text">
                    <span>Đơn hàng đã hoàn thành </span>
                </div>
                <div class="info-box__number">
                    <span>5</span>
                </div>
            </div>
        </div>
    </div>
</body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="/js/admin.js"></script>
</html>