<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HShop</title>
    {{!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script> --}}
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    
    {{> header-admin}}
    <div class="content-wrapper">
        <div class="content-header">
            <div class="content-header-left">
                <i class="fa-solid fa-circle-right"></i><span>Thêm sản phẩm</span>
            </div>
            <div class="content-header-right"><a href="/admin/product">Quay lại</a></div>
        </div>
        <div class="content">
            <form id="add_product_form" action="" method="POST">
                <div class="form-group">
                    <label for="">Tên sản phẩm * </label>
                    <input type="text" id="name" name="name" class="form-control" placeholder="Name product">
                </div>
                <div class="form-group">
                    <label for="">Mô tả sản phẩm </label>
                    <textarea id="description" name="description" class="form-text"></textarea>
                </div>
                <div class="form-group">
                    <label for="">Key search </label>
                    <textarea id="key_search" name="key_search" class="form-text"></textarea>
                </div>
                <div class="form-group">
                    <label for="">Giá (VNĐ) *</label>
                    <input type="text" id="price" name="price" class="form-control" placeholder="Price">
                </div>
                <div class="form-group">
                    <label for="">Số lượng *</label>
                </div>
                <div class="form-group">
                    <label for="">S:</label>
                    <input type="text" id="S_quantity" name="S_quantity" class="form-control" placeholder="Size S">
                </div>
                <div class="form-group">
                    <label for="">M:</label>
                    <input type="text" id="M_quantity" name="M_quantity" class="form-control" placeholder="Size M">
                </div>
                <div class="form-group">
                    <label for="">L:</label>
                    <input type="text" id="L_quantity" name="L_quantity" class="form-control" placeholder="Size L">
                </div>
                <div class="form-group">
                    <label for="">XL:</label>
                    <input type="text" id="XL_quantity" name="XL_quantity" class="form-control" placeholder="Size XL">
                </div>
                <div class="form-group">
                    <label for="">XXL:</label>
                    <input type="text" id="XXL_quantity" name="XXL_quantity" class="form-control" placeholder="Size XXL">
                </div>
                <div class="form-group">
                    <label for="">Hình ảnh *(link)</label>
                    <input type="text" id="main_image" name="main_image" class="form-control" placeholder="Main image">
                </div>
                <div class="form-group">
                    <label for="">Hình ảnh khác</label>
                    <input type="text" id="image_1" name="image_1" class="form-control" placeholder="Sub image">
                </div>
                <div class="form-group">
                    <label for=""></label>
                    <input type="text" id="image_2" name="image_2" class="form-control" placeholder="Sub image">
                </div>
                <div class="form-group">
                    <label for=""></label>
                    <input type="text" id="image_3" name="image_3" class="form-control" placeholder="Sub image">
                </div>
                <div class="form-group">
                    <label for="">Danh mục *</label>
                    <select id="category" name="category" class="form-select">
                        <option value="Nam">Nam</option>
                        <option value="Nữ">Nữ</option>
                        <option value="Trẻ em">Trẻ em</option>
                        <option class="category_op" value="Khác">Khác</option>
                    </select>
                </div>
                <button class="btn-submit">Hoàn thành</button>
            </form>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="/js/admin.js"></script>
</body>

<script>
    var addProduct_form = document.getElementById('add_product_form')
    addProduct_form.onsubmit = function(event) {
        var newProduct = {}
        event.preventDefault();
        $.ajax({
            url: '/admin/product-add',
            type: 'POST',
            data: {
                name: $('#name').val(),
                price: $('#price').val(),
                description: $('#description').val(),
                key_search: $('#key_search').val(),
                S_quantity: $('#S_quantity').val(),
                M_quantity: $('#M_quantity').val(),
                L_quantity: $('#L_quantity').val(),
                XL_quantity: $('#XL_quantity').val(),
                XXL_quantity: $('#XXL_quantity').val(),
                main_image: $('#main_image').val(),
                image_1: $('#image_1').val(),
                image_2: $('#image_2').val(),
                image_3: $('#image_3').val(),
                category: $('#category').val()
            }
        })
        .done(data => {
            if(data.message) {
                alert('Tao thanh cong')
                window.location.reload()
            }else{
                alert("That bai")
                window.location.reload()
            }
        })
        .fail(err => {
            alert(err)
        })
    }

</script>
</html>