<!DOCTYPE html>
<html lang="en">

{{> head-admin}}

<body>
    {{> header-admin}}
    <div class="content-wrapper">
        <div class="content-header">
            <div class="content-header-left">
                <i class="fa-solid fa-circle-right"></i><span>Tùy chỉnh hồ sơ</span>
            </div>
        </div>
        <div class="content">
            <div class="form-group">
                <label for="">Họ tên * </label>
                <input type="text" name="name" class="form-control">
            </div>
            <div class="form-group" style="height: 100px;">
                <label for="">Ảnh đại diện </label>
                <img style="height: 120px; cursor: auto" src="\images\huy.jpg" alt="">
            </div>
            <div class="form-group">
                <label for="">Hình ảnh mới</label>
                <input type="file" name="p_image" class="form-file">
            </div>
            <div class="form-group">
                <label for="">Email * </label>
                <input type="text" name="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="">SĐT * </label>
                <input type="text" name="phone" class="form-control">
            </div>
            <div class="password-title" onclick="showPasswordEdit()">Đổi mật khẩu</div>
            <div class="password-edit">
                <div class="form-group">
                    <label for="">Mật khẩu cũ * </label>
                    <input type="text" name="password" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Mật khẩu mới * </label>
                    <input type="text" name="password" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Nhập lại mật khẩu mới * </label>
                    <input type="text" name="password" class="form-control">
                </div>
            </div>
            <button class="btn-submit">Cập nhật</button>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="/js/admin.js"></script>
    <script>
        function showPasswordEdit() {
            document.querySelector(".password-edit").classList.toggle("show-password-edit");
        }

    </script>
</body>

</html>