<div id="change-email" class="padding-detail">
    <div class="detail-header">
        <h1 class="detail-header-content">Thay đổi địa chỉ email</h1>
    </div>
    <div class="container-content password-flex">
        <form id="email-form">
            <div class="detail-content">
                    <div class="password-container">
                        <div class="password-setup">
                            <div class="password-content">
                                <div class="password-label">
                                    <label for="password-confirm-email" class="label-content">Mật khẩu hiện tại</label>
                                </div>

                                <div class="password-input">
                                    <input type="password" id="password-confirm-email" class="input-content" autocomplete="off" name="password-confirm-email" value="">
                                </div>

                                <button class="forget-password">
                                    Quên mật khẩu
                                </button>
                            </div>
                            <div class="notice-content margin-left password-confirm-email">
                                <!-- Sai mật khẩu -->
                            </div>
                        </div>
                    </div>
                    <div class="password-container">
                        <div class="password-setup">
                            <div class="password-content">
                                <div class="password-label">
                                    <label for="new-email" class="label-content">Địa chỉ email mới</label>
                                </div>

                                <div class="password-input">
                                    <input type="email" id="new-email" class="input-content" autocomplete="off" name="new-email" value="">
                                </div>
                            </div>
                            <div class="notice-content margin-left new-email">
                                <!-- Email không hợp lệ -->
                            </div>
                        </div>
                    </div>
                    
                    <div class="password-container">
                        <div class="password-setup">
                            <div class="password-content">
                                <div class="password-label password-space">
                                </div>
                                <div class="password-button">
                                    <button type="submit" class="submit-button" aria-disabled="false" id="confirm-change-email">Xác nhận</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </form>
    </div>
</div>