<div id="profile" class="padding-detail">
    <div class="detail-header">
        <h1 class="detail-header-content">Hồ sơ của tôi</h1>
    </div>
    <div class="container-content">
        <form action="/profile/save-info" class="container-form" id="info-form" method="post" aria-disabled="true">
            <div class="detail-content">
                <table class="table-content">
                    <tr>
                        <td class="first-column username-content">
                            <label for="">Tên đăng nhập</label>
                        </td>
                        <td class="second-column">
                            <div class="table-input__outer">
                                <input type="text" class="table-input__inner" id="username" value="" readonly>
                            </div>
                            <div class="table-input__content">
                                Tên Đăng nhập không thể thay đổi
                            </div>

                        </td>
                    </tr>

                    <tr>
                        <td class="first-column">
                            <label for="fullname">Tên</label>
                        </td>
                        <td class="second-column">
                            <div class="table-input__outer">
                                <input type="text" placeholder class="table-input__inner input" id="fullname" name="fullname" value="">
                            </div>
                            <div class="table-input__content notice-content fullname">
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="first-column">
                            <label for="">Email</label>
                        </td>
                        <td class="second-column">
                            <div class="col-container">
                                <div class="col-content" id="email"></div>
                                <a class="col-btn email" onclick="loadEmail()">Thay đổi</a>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="first-column">
                            <label for="">Số điện thoại</label>
                        </td>
                        <td class="second-column">
                            <div class="col-container">
                                <div class="col-content" id="phone"></div>
                                <a class="col-btn phone" onclick="loadPhone()">Thay đổi</a>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="first-column">
                            <label for="">Giới tính</label>
                        </td>
                        <td class="second-column">
                            <div class="radio-group" role="radiogroup">
                                <div class="radio" tabindex="0" role="radio" aria-checked="false" id="Male">
                                    <div class="radio-btn">
                                        <div class="radio-btn__outer-circle">
                                            <div class="radio-btn__inner-circle"></div>
                                        </div>
                                    </div>

                                    <div class="radio__content">
                                        <div class="radio__label">
                                            Nam
                                        </div>
                                    </div>
                                </div>

                                <div class="radio" tabindex="0" role="radio" aria-checked="false" id="Female">
                                    <div class="radio-btn">
                                        <div class="radio-btn__outer-circle">
                                            <div class="radio-btn__inner-circle"></div>
                                        </div>
                                    </div>

                                    <div class="radio__content">
                                        <div class="radio__label">
                                            Nữ
                                        </div>
                                    </div>
                                </div>

                                <div class="radio" tabindex="0" role="radio" aria-checked="false" id="Other">
                                    <div class="radio-btn">
                                        <div class="radio-btn__outer-circle">
                                            <div class="radio-btn__inner-circle"></div>
                                        </div>
                                    </div>

                                    <div class="radio__content">
                                        <div class="radio__label">
                                            Khác
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="first-column">
                            <label for="birthday">Ngày sinh</label>
                        </td>
                        <td class="second-column">
                            <input type="date" id="birthday" name="birthday" class="input">
                            <div class="table-input__content notice-content birthday">
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="first-column">

                        </td>
                        <td class="second-column">
                            <button type="submit" class="submit-button" aria-disabled="false"
                                id="save-button">Lưu</button>
                        </td>
                    </tr>
                </table>
            </div>
        </form>

        <div class="change-image-container">
            <div class="change-image">
                <div class="image-container">
                    <div class="image">
                        <img src="" alt="Your Avatar" id="avatar">
                    </div>
                </div>

                <label for="file-upload" class="choose-image-button dict-button">
                    Chọn ảnh
                </label>
                <input type="file" class="choose-image" id="file-upload" accept=".jpg, .jpeg, .png" max-size="1MB">

                <div class="change-content-container">
                    <div class="change-content">Dung lượng file tối đa 1MB</div>
                    <div class="change-content">Định dạng: .JPEG, .PNG</div>
                </div>
            </div>
        </div>
    </div>
</div>

