<div id="change-password" class="padding-detail">
    <div class="detail-header">
        <h1 class="detail-header-content">Thêm mật khẩu</h1>
    </div>
    <div class="container-content password-flex">
        <form action="">
            <div class="detail-content">
                    <div class="password-container">
                        <div class="password-setup">
                            <div class="password-content">
                                <div class="password-label">
                                    <label for="password" class="label-content">Mật khẩu hiện tại</label>
                                </div>

                                <div class="password-input">
                                    <input type="password" id="password" class="input-content" autocomplete="off" name="password" value="">
                                </div>

                                <button class="forget-password">
                                    Quên mật khẩu
                                </button>
                            </div>

                            <div class="notice-content margin-left wrong-password">
                                <!-- Sai mật khẩu -->
                            </div>
                            
                        </div>
                    </div>
                    <div class="password-container">
                        <div class="password-setup">
                            <div class="password-content">
                                <div class="password-label">
                                    <label for="newPassword" class="label-content">Mật khẩu mới</label>
                                </div>

                                <div class="password-input">
                                    <input type="newPassword" id="newPassword" class="input-content" autocomplete="off" name="newPassword" value="">
                                </div>
                            </div>
                            <div class="notice-content margin-left wrong-new-password">
                                <!-- Mật khẩu phải có tối thiểu 6 ký tự -->
                            </div>
                        </div>
                    </div>
                    <div class="password-container">
                        <div class="password-setup">
                            <div class="password-content">
                                <div class="password-label">
                                    <label for="newPasswordRepeat" class="label-content">Xác nhận mật khẩu</label>
                                </div>

                                <div class="password-input">
                                    <input type="newPasswordRepeat" id="newPasswordRepeat" class="input-content" autocomplete="off" name="newPasswordRepeat" value="">
                                </div>
                            </div>
                            <div class="notice-content margin-left wrong-new-password-repeat">
                                <!-- Mật khẩu không trùng khớp -->
                            </div>
                        </div>
                    </div>
                    <div class="password-container">
                        <div class="password-setup">
                            <div class="password-content">
                                <div class="password-label password-space">
                                </div>
                                <div class="password-button">
                                    <button type="button" class="submit-button" aria-disabled="true" id="confirm-change-password">Xác nhận</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </form>
    </div>
</div>