<div id="change-phone" class="padding-detail">
    <div class="detail-header">
        <h1 class="detail-header-content">Thay đổi số điện thoại</h1>
    </div>
    <div class="container-content password-flex">
        <form action="" id="phone-form">
            <div class="detail-content">
                    <div class="password-container">
                        <div class="password-setup">
                            <div class="password-content">
                                <div class="password-label">
                                    <label for="password-confirm-phone" class="label-content">Mật khẩu hiện tại</label>
                                </div>

                                <div class="password-input">
                                    <input type="password" id="password-confirm-phone" class="input-content" autocomplete="off" name="password-confirm-phone" value="">
                                </div>

                                <button class="forget-password">
                                    Quên mật khẩu
                                </button>
                            </div>
                            <div class="notice-content margin-left password-confirm-phone">
                                <!-- Sai mật khẩu -->
                            </div>
                        </div>
                    </div>
                    <div class="password-container">
                        <div class="password-setup">
                            <div class="password-content">
                                <div class="password-label">
                                    <label for="new-phone" class="label-content">Số điện thoại mới</label>
                                </div>

                                <div class="password-input">
                                    <input type="tel" id="new-phone" class="input-content" autocomplete="off" name="new-phone" value="">
                                </div>
                            </div>
                            <div class="notice-content margin-left new-phone">
                                <!-- phone không hợp lệ -->
                            </div>
                        </div>
                    </div>
                    
                    <div class="password-container">
                        <div class="password-setup">
                            <div class="password-content">
                                <div class="password-label password-space">
                                </div>
                                <div class="password-button">
                                    <button type="submit" class="submit-button" aria-disabled="false" id="confirm-change-phone">Xác nhận</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </form>
    </div>
</div>