* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', Times, serif;
  position: relative; }

body {
  background-color: #adadad; }

.header {
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: #383d3b;
  display: flex;
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 1; }

.logo {
  width: 200px;
  height: 50px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center; }

.logo > a {
  color: aliceblue; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.admin {
  width: calc(100% - 400px);
  display: flex;
  align-items: center;
  color: aliceblue; }

.admin > i {
  font-size: 20px; }

.admin > span {
  font-size: 25px;
  margin-left: 20px; }

.individual {
  width: 200px;
  height: 100%;
  position: relative; }

.individual__info {
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer; }

.individual__info .image {
  height: 90%;
  width: auto;
  border-radius: 25px; }

.individual__info > span {
  margin-left: 10px;
  color: aliceblue; }

.individual__dropdown {
  width: 180px;
  height: 50px;
  top: 0;
  background-color: #c2c2c2;
  position: relative;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: none; }

.showDropdown {
  display: block; }

.individual__logout {
  width: 150px;
  height: 35px;
  position: relative;
  background-color: aliceblue;
  top: 10px;
  left: 15px;
  display: flex;
  justify-content: center;
  line-height: 0px;
  cursor: pointer; }

.individual__dropdown a {
  padding-top: 20px;
  background-color: aliceblue; }

.sidebar {
  width: 200px;
  top: 50px;
  height: calc(100vh - 50px);
  background-color: #222d32;
  color: #ebe9e9;
  position: fixed;
  z-index: 1; }

.sidebar:hover {
  width: 200px; }

.sidebar-item {
  width: 200px;
  height: 50px;
  background-color: #222d32;
  font-size: 15px;
  display: flex;
  align-items: center;
  cursor: pointer; }

.sidebar-item:hover {
  width: 200px;
  background-color: #6e6e6e;
  border-left: 5px #1a1b1b solid; }

.sidebar:hover .sidebar-item {
  width: 200px; }

.sidebar-item {
  color: white;
  height: 50px; }

.sidebar-item i {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center; }

.content-wrapper {
  width: calc(100vw - 200px);
  position: relative;
  top: 50px;
  left: 200px;
  right: 0px; }

.content-header {
  width: 100%;
  height: 50px;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; }

table, th, td {
  border: 1px solid black; }

table {
  border-collapse: collapse;
  position: relative; }

table > thead th {
  height: 50px; }

table > tbody th {
  height: 120px; }

table tr:nth-child(odd) {
  background-color: #eee; }

table tr:nth-child(even) {
  background-color: white; }

table > thead tr:nth-child(1) {
  background-color: skyblue; }

th.sorting::after {
  content: "";
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
  border-top: 5px solid;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  cursor: pointer; }

.dataTables_length {
  top: 10px;
  left: 20px;
  height: 50px;
  font-size: 20px; }

.dataTables_length select, option {
  width: 60px;
  height: 30px;
  font-size: 18px; }

.dataTables_filter {
  height: 50px;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 20px; }

.dataTables_filter input {
  margin-left: 10px;
  height: 30px;
  width: 25vw;
  font-size: 20px; }

.dataTables_info {
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 15px; }

.dataTables_paginate {
  position: absolute;
  right: 20px;
  bottom: 10px;
  font-size: 15px; }

.dataTables_paginate .paginate_button {
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-left: 5px;
  cursor: pointer; }

.dataTables_paginate .first {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }

.dataTables_paginate .last {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.next {
  width: 100px;
  size: 30px;
  background-color: aqua; }

.current {
  background-color: #173aff; }

.btn {
  width: 50px;
  height: 30px;
  border-radius: 5px;
  font-size: 15px;
  color: #eee;
  cursor: pointer; }

.btn-edit {
  background-color: #00a2ff; }

.btn-delete {
  background-color: red; }

.content-header-left i {
  margin: 0 20px; }

.content-header-right {
  width: 150px;
  height: 35px;
  right: 30px;
  background-color: #383d3b;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer; }

.content-header-right a {
  color: aliceblue; }

.content {
  margin: 30px 30px;
  background-color: white;
  border-top: 3px #222d32 solid;
  border-bottom: 3px #222d32 solid;
  border-radius: 5px;
  width: calc(100vw - 270px);
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  column-count: auto;
  column-width: auto; }

.form-group {
  margin-top: 30px;
  width: 70vw;
  height: 50px;
  display: flex;
  margin-left: 10vw;
  position: relative; }

.form-group label {
  width: 200px;
  padding-top: 5px;
  font-weight: bold; }

.form-group input {
  padding-left: 5px; }

.form-control {
  width: 30vw;
  height: 30px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; }

.form-text {
  width: 30vw;
  height: 70px;
  padding: 5px 5px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; }

.form-select {
  width: 30vw;
  height: 30px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; }

.btn-submit {
  width: 100px;
  height: 40px;
  margin: 20px 30vw 50px;
  background-color: #00a65a;
  color: white;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
  border: none; }

.btn-submit:hover {
  background-color: #03864b; }

.password-edit {
  display: none; }

.show-password-edit {
  margin-top: -50px;
  display: block; }

.password-title {
  width: 70vw;
  height: 50px;
  margin-left: 10vw;
  position: relative;
  color: red;
  text-decoration: underline;
  cursor: pointer; }

.info-box {
  margin: 20px;
  width: 300px;
  height: 100px;
  border-radius: 10px;
  position: relative;
  background-color: #ddc6e0; }

.info-box__icon i {
  width: 100px;
  height: 100px;
  padding-top: 20px;
  padding-left: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #00eeff;
  font-size: 70px;
  color: #fff8f8;
  font-weight: 5px; }

.info-box__text {
  width: 200px;
  height: 40px;
  top: 0;
  left: 100px;
  position: absolute;
  font-size: 20px;
  padding-top: 5px;
  padding-left: 5px; }

.info-box__number {
  width: 200px;
  height: 60px;
  top: 30px;
  left: 100px;
  position: absolute;
  font-size: 40px;
  padding-top: 15px;
  padding-left: 5px; }

.modal {
  width: 350px;
  height: 150px;
  top: 40vh;
  left: 40vw;
  background-color: #f3a37f;
  border-radius: 10px;
  position: fixed; }

.modal-header {
  height: 40px;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 20px;
  color: yellow; }

.modal-header span {
  color: #1a1b1b;
  padding-left: 10px; }

.modal-body {
  height: 60px;
  margin-left: 10px; }

.btn-default {
  color: #222d32;
  background-color: #ccc;
  left: 200px; }

.btn-danger {
  color: #ccc;
  background-color: red;
  left: 210px; }

.form_mess {
  font-size: 15px;
  margin-top: 30px;
  margin-left: -400px; }
