.general-footer {
  padding: 30px 0 0;
  border-top: 1px solid #ddd; }

.general-footer .main-footer {
  margin: 0px 50px;
  display: flex; }

.general-footer .main-footer .footer-info {
  flex: 1.25;
  padding-left: 60px;
  padding-right: 60px; }

.footer-info .logo-ft {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  padding: 0px 60px; }

.logo-ft > a {
  flex: 1; }

.main-footer .footer-info div,
ul {
  font-size: 16px; }

.footer-info .logo-ft .footer-logo-image {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 50px;
  margin: auto; }

.main-footer .footer-info .list-social {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0px 40px;
  margin-bottom: 1rem; }

.footer-info .list-social .icon-ft {
  font-size: 30px; }

.general-footer .main-footer .footer-about {
  flex: 3;
  padding: 0px 90px;
  margin-top: 12px;
  display: flex;
  justify-content: space-between; }

.footer-about .about-ft-item .title-ft {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #221F20;
  margin-bottom: 20px; }

.about-ft-item ul {
  list-style: none;
  padding: 0px; }

.about-ft-item ul li {
  padding: 0px; }

.about-ft-item ul li a {
  font-size: 16px;
  line-height: 24px;
  color: #57585A;
  margin-bottom: 16px;
  display: block;
  text-decoration: none; }

.instagram {
  font-size: 30px;
  padding: 0px 5px;
  text-align: center;
  border-radius: 10px;
  color: #fff;
  vertical-align: middle;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25); }

#google_translate_element {
  text-align: right; }
