*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

header {
  background-color: orange;
  height: 60px;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  position: fixed;    
  z-index: 1;
}

li {
  list-style: none;
}


.logo {
  width: 200px;
}

.logo  img {
  position: absolute;
  left: 40vw;
  height: 60px;
  width: auto;

}

.search {
  margin: 10px 50px;
  left: 50vw;
  background-color: white;
  width: 30vw;
  height: 40px;
  border-radius: 5px;
  position: absolute;
  display: flex;
}

.search__input {
  margin: 5px 10px;
  border: none;
  width: 90%;
  height: 30px;
  font-size: 20px;
  outline: none;
  cursor: text;
  background-color: white;
}

.search__btn {
  border: none;
  background-color: white;
  position: relative;
  right: 5px;
  font-size: 25px;
  color: #5f6368;
  border-radius: 15px; 
  cursor: pointer;   
}



#authentication {
  left: 72vw;
  width: 200px;
  position: relative;
  /* display: none; */
}

#unauthenticated {
  left: 72vw;
  width: 200px;
  position: relative;
  display: none;
}


.other__authentication {
  display: flex;
  column-gap: 10px;
}



.other__authentication > li > a {
  color: white;
  font-size: 17px;
}

.other__individual {
  margin-left: 10px;
  display: flex;
  column-gap: 20px;
}

.other__individual i {
  color: rgb(85 26 139);
  font-size: 22px;
  margin-top: 5px;
  margin-left: 5px;
}


.category {
  width: 400px;
  height: 60px;
  padding: 20px 20px;
  display: flex;
  column-gap: 3vw;
  position: absolute;
}

.category-item {
  position: relative;
}


.category-item__parent {
  text-align: center;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
}

.category-item:hover .category-item__parent{
  color: rgb(235, 66, 66);
  font-size: 25px;
}

.category-item__child {
  width: 150px;
  margin-left: -10px;
  position: relative;
  background-color: #d8d9db;
  display: none;
  box-shadow: 5px 5px 5px #ffffff;
  border-radius: 2px;
}

.category-item:hover .category-item__child {
  display: block;
}

.category-item__child > li {
  font-size: 20px;
  padding: 5px 10px;
  cursor: pointer;
}

.category-item__child li:hover{
  color: white;
}

.individual {
  position: absolute;
}

.individual__dropdown{
  width: 200px;
  height: 100px;
  top: 14px;
  left: -50px;
  background-color:rgb(194, 194, 194);
  position: relative;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: none;
}

.individual__dropdown  a{
  padding-top: 20px;
  background-color: aliceblue;
  text-decoration: none;
}

.showDropdown{
  display: block;
}

.individual__edit{
  width: 150px;
  height: 35px;
  position: relative;
  background-color: aliceblue;
  top: 10px;
  left: 20px;
  padding: 0px;
  display: flex;
  justify-content: center;
  line-height: 0px;
  cursor: pointer;
}

.individual__logout{
  width: 150px;
  height: 35px;
  position: relative;
  background-color: aliceblue;
  top: 20px;
  left: 20px;
  display: flex;
  justify-content: center;
  line-height: 0px;
  cursor: pointer;
}

.cart {
  margin-left: 50px;
}



body {
  background-color: white;
  height: 1500px;
  z-index: 1;
}


.content {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  column-count: auto;
  column-width: auto;
}

.product {
  position: relative;
  border: 10px solid white;
  margin: 30px auto;
  width: 300px;
  height: 400px;
  background-color: rgb(74, 177, 237);
  justify-content: space-around;
}

.product:hover {
  margin: 25px calc(auto - 5px);
  border: none;
  background-color: aqua;
  cursor: pointer;
}

.product__image {
  width: 100%;
  height: 80%;
  position: relative;
}


.product__image > img {
  width: 100%;
  height: 100%;
}

.product:hover .product__image {
  animation:fading 3s infinite
  
}


@keyframes fading {
  0%{opacity:0.5}50%{opacity:1}80%{opacity:1}100%{opacity:0.9}
}

.product__name {
  margin-top: 5px;
  color: white;
  font-size: 20px;
}

.product__price {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 25px;
  color: black
}

.product__cart {
  font-size: 30px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: none;
}

.product__cart:hover {
  color: rgb(245, 241, 40);
}



.cart_button {
  background: rgba(249, 250, 250, 0);
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 4px;
  border: none;
  width: 100%;
  display: block;
  cursor: pointer;
}

.fa-cart-shopping {
  font-size: 30px;
}