* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

li {
  list-style: none; }

.product {
  margin-top: 50px;
  padding: 50px 120px; }

.product-top {
  display: flex;
  align-items: center; }

.product-top > p {
  font-family: var(--main-text-font);
  margin: 0 12px;
  font-size: 14px; }

.product-content {
  display: flex; }

.product-content-left {
  flex: 1;
  display: flex;
  height: 500px;
  overflow: hidden; }

.product-content-left-big-img {
  flex: 5;
  aspect-ratio: 2/3;
  overflow: hidden;
  border: #CCCCCC solid 0.5px;
  display: flex;
  align-items: center; }

.product-content-left-big-img > img {
  width: 100%;
  height: auto; }

.product-content-left-small-img {
  flex: 2;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex; }

.box-list-small-img {
  display: block;
  width: 100%;
  height: 90%;
  overflow: hidden;
  justify-content: center;
  margin: 10px;
  top: 8%; }

.list-small-img {
  overflow: hidden;
  width: 100px;
  transition: transform 0.3s ease-in-out; }

.small-img {
  flex-shrink: 0;
  height: 30%;
  aspect-ratio: 2/3;
  overflow: hidden;
  justify-content: center;
  align-items: center; }

.product-content-left-small-img img {
  width: 100%;
  height: auto;
  margin: 10px; }

.prev_button {
  position: absolute;
  width: 20px;
  height: auto;
  cursor: pointer;
  top: 1%; }

.next_button {
  position: absolute;
  width: 20px;
  height: auto;
  cursor: pointer;
  top: 94.5%; }

.product-content-right {
  flex: 1;
  width: 50%;
  padding-left: 50px;
  text-align: left;
  padding-top: 10px; }

.product-content-right-product-name > h1 {
  font-family: var(--main-text-font);
  font-size: 25px; }

.product-content-right-product-name > p {
  color: #CCCCCC;
  font-size: 14px; }

.product-content-right-product-price {
  margin: 12px 0px;
  font-size: 28px;
  font-weight: bold;
  color: #ee4d2d;
  font-family: var(--main-text-font); }

.product-content-right-product-price > p {
  font-family: Arial, Helvetica, sans-serif; }

.product-content-right-product-price .old-price {
  text-decoration-line: line-through;
  color: #585858;
  font-size: 20px; }

.product-color span {
  display: inline-block;
  padding: 3px 6px;
  border: 1px solid #dddddd;
  margin: 12px 5px 5px 0px;
  font-size: 14px;
  cursor: pointer; }

.product-color span:hover {
  color: red;
  border-color: red; }

#chooseColor {
  display: none; }

.size span {
  display: inline-block;
  padding: 3px 6px;
  border: 1px solid;
  border-color: #dddddd;
  margin: 12px 10px 5px 0px;
  font-size: 14px;
  cursor: pointer; }

.size span:hover {
  color: red;
  border-color: red; }

#chooseSize {
  display: none; }

.quantity {
  display: flex;
  margin-bottom: 20px;
  margin-top: 10px; }

.quantity-adjustment {
  padding-left: 9px;
  display: flex;
  align-items: center;
  width: 90px;
  padding-left: 3px; }

.quantity input {
  width: 50px;
  height: 20px;
  padding-left: 3px;
  justify-items: center;
  text-align: center;
  flex: 1;
  border: 1px solid #CCCCCC; }

.quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.quantity-adjustment > i {
  cursor: pointer;
  flex: 1;
  padding: 0px 3px;
  border: 1px solid #CCCCCC;
  width: 30px;
  height: 20px;
  justify-content: center;
  text-align: center; }

#quantityInStock {
  padding: 3px 8px;
  font-size: 11px;
  color: #757575; }

.product-content-right-product-button button {
  width: 150px;
  height: 40px;
  display: flex;
  margin: 10px 0px 12px 0px;
  background-color: #ffff;
  border: 2px solid black;
  cursor: pointer;
  transition: all 0.3ms ease;
  align-items: center;
  justify-content: center; }

.product-content-right-product-button button:hover {
  background-color: black;
  color: #ffff; }

.product-content-right-bottom {
  position: relative;
  padding-top: 40px;
  border-top: 1px solid #dddddd; }

.product-content-right-bottom-top {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffff;
  top: -15px;
  left: 50%; }

.product-content-right-bottom-content-title {
  display: flex;
  border-bottom: 1px solid #dddddd; }

.chitiet {
  border-bottom: 2px solid black; }

.product-content-right-bottom-content-title-item {
  padding: 6px;
  cursor: pointer;
  margin-right: 6px; }

.product-content-right-bottom-content {
  font-family: var(--main-text-font);
  font-size: 15px; }

.product-content-right-bottom-content-chitiet {
  display: block;
  white-space: pre-wrap; }

.product-content-right-bottom-content-mota {
  display: none;
  white-space: pre-wrap; }

.selected_size {
  color: #ee4d2d;
  background-color: #f75f4156; }

.blur {
  opacity: 0.5; }

.footer {
  font-family: 'Times New Roman', Times, serif; }

.description-ft > p {
  margin-bottom: 1rem; }

.description-ft-detail > p {
  margin-bottom: 1rem;
  padding-top: 5px; }
