<footer class="general-footer">
    <div class="main-footer d-flex">
        <div class="footer-info">
            <div class="logo-ft d-flex justify-content-between">
                <a href="/" target="_blank"><img src="/img/logo.png" alt="HShop" class="footer-logo-image"></a>
                <a href="https://uet.vnu.edu.vn/" target="_blank"><img src="/img/logo2_new.png" alt="UET"
                        class="footer-logo-image"></a>

            </div>
            <div class="content-footer-info">
                <div class="description-ft">
                    <p style="text-align: center; font-size: 20px;">Cửa hàng bán quần áo <span
                            class="highlight">HShop</span></p>
                    <div class="description-ft-detail" style="padding-left: 15px;">
                        <p><strong>Địa chỉ: </strong> UET, Xuân Thủy, Cầu Giấy, Hà Nội</p>
                        <p><strong>Số điện thoại: </strong>0987 910 JQK/ 0999 999 999</p>
                        <p><strong>Email: </strong> HShop@gmail.com</p>
                    </div>

                </div>
            </div>
            <ul class="list-social d-flex justify-content-between">
                <li><a href="#"><i class="fa-brands fa-square-facebook icon-ft" style="font-size: 36px;"></i></a></li>
                <li><a href="#"><i class='fa-brands fa-google icon-ft' style="color: red; font-size: 36px;"></i></a>
                </li>
                <li><a href="#" class="instagram"><i class='fa-brands fa-instagram icon-ft'
                            style="color: white;"></i></a>
                </li>
            </ul>
        </div>
        <div class="footer-about d-flex justify-content-between">
            <div class="introduce-ft about-ft-item">
                <p class="title-ft">Giới thiệu</p>
                <ul>
                    <li><a href="/introduce" target="_blank">Về HShop</a></li>
                    <li><a href="https://uet.vnu.edu.vn/truong-dai-hoc-cong-nghe-15-nam-xay-dung-va-truong-thanh/"
                            target="_blank">Về UET</a></li>
                </ul>
            </div>
            <div class="service-ft about-ft-item">
                <p class="title-ft">Dịch vụ khách hàng</p>
                <ul>
                    <li><a href="">Hướng dẫn mua hàng</a></li>
                    <li><a href="">Chính sách thanh toán</a></li>
                </ul>
            </div>
            <div class="contact-ft about-ft-item">
                <p class="title-ft">Liên hệ</p>
                <ul>
                    <li><a href="tel:0999999999">Hotline</a></li>
                    <li><a href="mailto:HShop@gmail.com">Email</a></li>
                    <li><a href="https://www.messenger.com/" target="_blank">Messenger</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- <div class="complement-footer">
        <div id="google_translate_element"></div>

        <script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({ pageLanguage: 'vi' }, 'google_translate_element');
            }
        </script>

        <script type="text/javascript"
            src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    </div> -->
</footer>