
<body>
    <div class="header">
    <div class="logo"><a href="/">HShop</a></div>
    <div class="admin"><i class="fa-solid fa-bars"></i><span>Admin</span></div>
    <div class="individual" onclick="showDropdown()">
        <div class="individual__info">
            <img class="image" src="\img\anh.jpg" alt=""><span id="info_user"></span>
        </div>
        <div class="individual__dropdown">
            <a class="individual__logout" href="/logout">Đăng xuất</a>
        </div>
    </div>
</div>
<div class="sidebar">
    <a class="sidebar-item" href="/admin">
        <i class="fa-regular fa-hand-point-right"></i><span>Tổng quan</span>
    </a>
    
    <a class="sidebar-item" href="/admin/product">
        <i class="fa-regular fa-hand-point-right"></i><span>Quản lý sản
            phẩm</span>
    </a>
    <a class="sidebar-item" href="/admin/order">
        <i class="fa-regular fa-hand-point-right"></i><span>Quản lý đơn hàng</span>
    </a>
    <a class="sidebar-item" href="/admin/customer">
        <i class="fa-regular fa-hand-point-right"></i><span>Khách hàng</span>
    </a>

</div>
</body>
<script>
     $('#info_user').text(window.localStorage.getItem('name'))
</script>
</html>