<header>
    <div class="category">
        <div class="category-item">
            <div class="category-item__parent " category="nam">Nam</div>
            <div class="category-item__child">
                <li class="category_child" classify="ao">Áo</li>
                <li class="category_child" classify="quan">Quần</li>
            </div>
        </div>
        <div class="category-item">
            <div class="category-item__parent" category="nu">Nữ</div>
            <div class="category-item__child">
                <li class="category_child" classify="ao">Áo</li>
                <li class="category_child" classify="quan">Quần</li>
                <li class="category_child" classify="vay">Váy</li>
            </div>
        </div>
        <div class="category-item">
            <div class="category-item__parent" category="tre_em">Trẻ em</div>
            <div class="category-item__child">
                <li class="category_child" classify="ao">Áo</li>
                <li class="category_child" classify="quan">Quần</li>
            </div>
        </div>
    </div>

    <div class="logo">
        <a href="/"><img src="/img/logo.png"></a></a>
    </div>

    <div class="search">
        <input class="search__input" type="text" name="search" placeholder="Tìm kiếm sản phẩm">
        <button class="search__btn"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>

    <div class="other" id="authentication">
        <div class="other__individual" style="margin-top: 15px;">
            <li class="individual" onclick="showDropdown()">
                <i class="fa-solid fa-user"></i>
                <div class="individual__dropdown">
                    <a class="individual__edit" href="/profile">Thông tin tài khoản</a>
                    <a onclick="logout()" class="individual__logout">Đăng xuất</a>
                </div>
            </li>
            <li class="cart">
                <form action="/cart" method="get">
                    <button type="submit" class="cart_button">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </button>
                </form>
            </li>
        </div>
    </div>
</header>

<script>
    function showDropdown() {
    document.querySelector(".individual__dropdown").classList.toggle("showDropdown");
}
</script>