<header class="header">
    <div class="category">
        <div class="category-item">
            <div class="category-item__parent " category="Nam">Nam</div>
            <div class="category-item__child">
                <li class="category_child" classify="Áo">Áo</li>
                <li class="category_child" classify="Quần">Quần</li>
            </div>
        </div>
        <div class="category-item">
            <div class="category-item__parent" category="Nữ">Nữ</div>
            <div class="category-item__child">
                <li class="category_child" classify="Áo">Áo</li>
                <li class="category_child" classify="Quần">Quần</li>
                <li class="category_child" classify="Váy">Váy</li>
                <li class="category_child" classify="Đầm">Đầm</li>
            </div>
        </div>
        <div class="category-item">
            <div class="category-item__parent" category="Trẻ em">Trẻ em</div>
            <div class="category-item__child">
                <li class="category_child" classify="Áo">Áo</li>
                <li class="category_child" classify="Quần">Quần</li>
                <li class="category_child" classify="Đầm">Đầm</li>
            </div>
        </div>
    </div>

    <div class="logo">
        <a href="/"><img src="/img/logo.png"></a></a>
    </div>

    <form class="search" action="/homeSearch">
        <input class="search__input" type="text" name="search" placeholder="Tìm kiếm sản phẩm">
        <button class="search__btn"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
    {{#if check_out_auth}}
    <div class="other" id="unauthenticated">
        <div class="other__authentication">
            <li><a href="/login">Đăng nhập</a></li>
            <li><a href="/register">Đăng ký</a></li>
        </div>
        <div class="other__individual">
            <li class="individual"> <a href="/login"> <i class="fa-solid fa-user"></i></a></li>
            <li class="cart">
                <form action="/cart" method="get">
                    <button type="submit" class="cart_button">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </button>
                </form>
            </li>
        </div>
    </div>
    {{else}}
    <div class="other" id="authentication">
        <div class="other__individual" style="margin-top: 15px;">
            <li class="individual" onclick="showDropdown()">
                <i class="fa-solid fa-user" style="height: 40px;"></i>
                <div class="individual__dropdown">
                    {{#if check_admin}}
                    <a class="individual__admin" href="/admin">Admin</a>
                    {{/if}}
                    <a class="individual__edit" href="/profile/info">Thông tin tài khoản</a>
                    <a class="individual__logout" href="/logout">Đăng xuất</a>
                </div>
            </li>

            <li class="cart">
                <form action="/cart" method="get">
                    <button type="submit" class="cart_button">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </button>
                </form>
            </li>
        </div>
    </div>
    {{/if}}
</header>
<form action="/homeSearch" method="GET" id="get_category">
    <input type="hidden" name="category" id="category_info">
</form>
<form action="/homeSearch" method="GET" id="get_classify">
    <input type="hidden" name="category" id="category_classify">
    <input type="hidden" name="classify" id="classify_info">
</form>


<script>
    function showDropdown() {
        document.querySelector(".individual__dropdown").classList.toggle("showDropdown");
    }
</script>

<script>
    //// phan loai theo gioi tinh
    var categorys = document.getElementsByClassName('category-item__parent')
    categorys = Array.from(categorys)
    categorys.forEach(category => {
        category.onclick = function (event) {
            var form_category = document.getElementById('get_category')
            var input_category = document.getElementById('category_info')
            var sex = event.target.getAttribute('category')
            input_category.value = sex
            form_category.submit()

        }
    })

    //// phan loai theo loai hang

    var classifies = document.getElementsByClassName('category-item__child')
    classifies = Array.from(classifies)
    classifies.forEach(classify => {
        classify.onclick = function (event) {
            var form_classify = document.getElementById('get_classify')
            var input_classify = document.getElementById('classify_info')
            var input_category = document.getElementById('category_classify')
            var sex = event.target.parentElement.parentElement.getElementsByClassName('category-item__parent')[0].getAttribute('category')
            input_category.value = sex
            input_classify.value = event.target.getAttribute('classify')
            form_classify.submit()
        }
    })
</script>