<header>
    <div class="category">
        <div class="category-item">
            <div class="category-item__parent " category="nam">Nam</div>
            <div class="category-item__child">
                <li class="category_child" classify="ao">Áo</li>
                <li class="category_child" classify="quan">Quần</li>
            </div>
        </div>
        <div class="category-item">
            <div class="category-item__parent" category="nu">Nữ</div>
            <div class="category-item__child">
                <li class="category_child" classify="ao">Áo</li>
                <li class="category_child" classify="quan">Quần</li>
                <li class="category_child" classify="vay">Váy</li>
            </div>
        </div>
        <div class="category-item">
            <div class="category-item__parent" category="tre_em">Trẻ em</div>
            <div class="category-item__child">
                <li class="category_child" classify="ao">Áo</li>
                <li class="category_child" classify="quan">Quần</li>
            </div>
        </div>
    </div>

    <div class="logo">
        <a href="/"><img src="/img/logo.png"></a></a>
    </div>

    <form class="search" action="/homeSearch">
                <input class="search__input" type="text" name="search" placeholder="Tìm kiếm sản phẩm">
                <button class="search__btn"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
    {{#if check_out_auth}}
    <div class="other" id="unauthenticated">
        <div class="other__authentication">
            <li><a href="/login">Đăng nhập</a></li>
            <li><a href="/register">Đăng ký</a></li>
        </div>
        <div class="other__individual">
            <li class="individual"> <a href="/login"> <i class="fa-solid fa-user"></i></a></li>
            <li class="cart">
                <form action="/cart" method="get">
                    <button type="submit" class="cart_button">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </button>
                </form>
            </li>
        </div>
    </div>
    {{else}}
    <div class="other" id="authentication">
        <div class="other__individual" style="margin-top: 15px;">
            <li class="individual" onclick="showDropdown()">
                <i class="fa-solid fa-user"></i>
                <div class="individual__dropdown">
                    <a class="individual__edit" href="/profile">Thông tin tài khoản</a>
                    <a href="/logout" class="individual__logout">Đăng xuất</a>
                </div>
            </li>

            <li class="cart">
                <form action="/cart" method="get">
                    <button type="submit" class="cart_button">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </button>
                </form>
            </li>
        </div>
    </div>
    {{/if}}
</header>
<form action="/homeSearch" method="GET" id="get_category">
        <input type="hidden" name="category" id="category_info">
</form>


<script>
    function showDropdown() {
    document.querySelector(".individual__dropdown").classList.toggle("showDropdown");
}
</script>

<script>
//// phan loai theo gioi tinh
        var form_category = document.getElementById('get_category')
        var input_category = document.getElementById('category_info')
        var input_classify = document.getElementById('classify_info')

        var categorys = document.getElementsByClassName('category-item__parent')
        categorys = Array.from(categorys)
        categorys.forEach(category => {
            category.onclick = function(event) {
                var sex = event.target.getAttribute('category')
                input_category.value = sex
                form_category.submit()
            }
        })

    //// phan loai theo loai hang

        var category_childs = document.getElementsByClassName('category_child')
        category_childs = Array.from(category_childs)
        category_childs.forEach(category_child => {
            category_child.onclick = function(event) {
                var sex = event.target.parentElement.parentElement.getElementsByClassName('category-item__parent')[0].getAttribute('category')
                var classify = event.target.getAttribute('classify')
                console.log(sex + '/' + classify)
                input_category.value = sex + '-' + classify
                //input_classify.value = classify
                form_category.submit()

            }
        })
</script>