<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body class="login_register_form">
    <div id="login_form">
        <div class="box_form">
            <div class="box_form-left">
                <h1>HShop</h1>
                <p>Trang web bán quần áo số 1 UET</p>
            </div>
            <div class="box_form-right">
                <h1>Đăng nhập</h1>
                <p>Bạn chưa có tài khoản? <a href="./register">Đăng ký</a></p>

                <div id="error_login" style="color: red; display: none">
                    Sai tên đăng nhập hoặc sai mật khẩu !
                </div>
                <form action="/login" id="input_form" method="POST">
                    <div  class="inputs_login_register_form">
                        <div class="form_group">
                            <input id="email" name="email" rules="required" type="text" placeholder="Email / User name">
                            <p class="form_mess" style="color: red;"></p>
                        </div>
                        <br>
                        <div class="form_group">
                            <input id="password" name="password" rules="required|min:6" type="password" placeholder="Password">
                            <p class="form_mess" style="color: red;"></p>
                        </div>
                    
                        <br> <br>

                        <div class="remember_me-forget_password">
                            <label>
                            <input type="checkbox" name="remember_me">
                            <span class="text-checkbox">Ghi nhớ tôi</span>
                            </label>
                            <p>Quên mật khẩu?</p>
                        </div>    
                    </div>

                    <div>
                        <button type="submit" class="form_submit">Đăng nhập</button>
                    </div>
                </form>
            </div>
        </div>
        
    </div>

    <script src='/js/validation_form.js'></script>
    
    <script>

        var form = new Validator('#input_form');   
        form.onSubmit = function(formData) {
            login();
        }
        
        function login() {
            $.ajax({
                url: '/login',
                type: 'POST',
                data: {
                    email: $('#email').val(),
                    password: $('#password').val() 
                }
            })
            .done(function(data) {
                console.log(data)
                if (data.token) {
                    setCookie('token', data.token, 1);
                    // luu thong tin nguoi dung vao localstorage de xuat ra man hinh
                    window.localStorage.setItem('name', data.user_name)
                    window.location.href = './';
                } else {
                    $('#error_login').show();                
                }        
            })
            .fail(function(err) {
                console.log(err)
            }) 
            .always(function(data) {
                var inputs = $('[name][rules]');
                for(var input of inputs) {
                    input.oninput = function(e) {
                        $('#error_login').hide();
                    }
                }
            })
        }
        
        
    </script>
    
</body>
</html>