<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
</head>

<body>
    <div class="main">
        <!-- Container -->
        {{> header}}
        <div class="container">
            <div class="directory">
                <div class="avatar">
                    <a href="/profile" class="avatar-place">
                        <div class="image-place">
                            <img src="https://wiki.tino.org/wp-content/uploads/2021/07/word-image-1467.png"
                                alt="Your avatar" class="avatar-image">
                        </div>
                    </a>

                    <div class="username">
                        <div class="avatar-name">Địt mẹ mày</div>
                        <a class="change-profile" onclick="loadBody('info')">
                            <div class="change-button">
                                <i class="fa fa-pencil pencil-icon"></i>
                                Sửa hồ sơ
                            </div>
                        </a>
                    </div>
                </div>
                <div class="list-directory">
                    <div class="directory-header">
                        <a class="dict-button dict-header" onclick="loadBody('info')">
                            <i class="fa fa-user-o user-icon"></i>
                            Tài khoản của tôi
                        </a>
                        <div class="sub-directory">
                            <ul>
                                <li><a class="dict-button" onclick="loadBody('info')">Hồ sơ</a></li>
                                <li><a class="dict-button" onclick="loadBody('password')">Đổi mật khẩu</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="directory-header">
                        <a href="" class="dict-button dict-header">
                            <i class="fa fa-shopping-cart user-icon"></i>
                            Giỏ hàng
                        </a>
                    </div>

                    <div class="directory-header">
                        <a href="" class="dict-button dict-header">
                            <i class="material-icons user-icon">receipt</i>
                            Lịch sử giao dịch
                        </a>
                    </div>
                </div>
            </div>
            <div class="detail" id="dynamic-content" data-name="{{name}}">

                


            </div>
        </div>
    </div>

    <div class="popup js-popup">
        <div class="popup-container js-popup-container">
            <div class="image-place">
                <img src="https://png.pngtree.com/png-vector/20190228/ourmid/pngtree-check-mark-icon-design-template-vector-isolated-png-image_711433.jpg"
                    alt="" class="success-checker">
            </div>
            <div class="popup-content">
                Cập nhật thành công
            </div>
        </div>
    </div>


    <!-- Load body -->
    <script>
        function removeChild() {
            const dynamicContent = document.querySelector('#dynamic-content');

            while (dynamicContent.children.length > 1) {
                dynamicContent.removeChild(dynamicContent.firstChild);
            }
        }
        function loadBody(name) {
            const dynamicContent = document.querySelector('#dynamic-content');
            // Lấy dữ liệu từ server
            const __dirpath = 'http://192.168.1.30:8080'
            const path = __dirpath + '/src/resources/views/profileElements/' + name + '.hbs'
            fetch(path)
                .then(response => response.text())
                .then(data => {

                    // Thêm phần khác vào div
                    const newElement = document.createElement('div');
                    newElement.innerHTML = data;
                    dynamicContent.appendChild(newElement)
                    removeChild();
                    // Thay đổi URL trên thanh địa chỉ
                    addEventsToNewElements();
                    history.pushState({}, '', '/profile/' + name);
                });
        }  
    </script>

    <!-- Show/Hide popup -->

    <script>

        // const popupClose = document.querySelector('.js-popup-close')

        function showBuyTickets(buyBtn, popup) {
            return function () {
                if (buyBtn.getAttribute('aria-disabled') == 'false') {
                    popup.classList.add('open');
                    buyBtn.setAttribute('aria-disable', 'true');
                }
            }
        }

        function hideBuyTickets(popup) {
            return function () {
                if (popup.classList.contains('open')) {
                    popup.classList.remove('open');
                    buyBtn.setAttribute('aria-disable', 'false');
                }
            }
        }

        function addEventsToNewElements() {
            const submitBtns = document.querySelectorAll('.submit-button');
            const popup = document.querySelector('.js-popup');
            const popupContainer = document.querySelector('.js-popup-container');

            for (const buyBtn of submitBtns) {
                buyBtn.addEventListener('click', showBuyTickets(buyBtn, popup));
            }

            popup.addEventListener('click', hideBuyTickets(popup));
            popupContainer.addEventListener('click', function (event) {
                event.stopPropagation();
            });
        }
        addEventsToNewElements();
    </script>

    <!-- Choose gender -->

    <script>

        function setAllAriaCheck(btns) {
            for (const btn of btns) {
                btn.setAttribute('aria-checked', 'false')
            }
        }
        function setAriaCheck(radio, radioList) {
            // console.log("ok")
            setAllAriaCheck(radioList)
            radio.setAttribute('aria-checked', 'true')
        }
        document.addEventListener('click', function (event) {
            const target = event.target;
            const radio = target.closest('.radio')
            if (radio != null) {
                const radioBtns = document.querySelectorAll(".radio");
                setAriaCheck(radio, radioBtns)
            }
        })
    </script>


    <!-- Get Content when refresh -->

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const dynamicContent = document.getElementById("dynamic-content");
            const name = dynamicContent.getAttribute('data-name');
            loadBody(name);
        })
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>

</body>

</html>