<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body class="login_register_form">
    <div id="register_form">
        <div class="box_form">
            <div class="box_form-left">
                <h1>HShop</h1>
                <p>Trang web bán quần áo số 1 UET</p>
            </div>
            <div class="box_form-right">
                <h1>Đăng ký</h1>
                <p>Đã có tài khoản? <a href="./login">Đăng nhập</a></p>

                <div id="error_login" style="background-color: red; display: none; color: white; font-size: 15px;">
                    Email/Username này đã được sử dụng!!!
                </div>

                <form action="/register" id="input_form" method="POST">
                    <div class="inputs_login_register_form">
                        <div class="form_group">
                            <input id="full_name" name="full_name" rules="required" type="text" placeholder="Full name">
                            <p class="form_mess" style="color: red;"></p>
                        </div>
                        <br>
                        <div class="form_group">
                            <input id="user_name" name="user_name" rules="required" type="text" placeholder="User name">
                            <p class="form_mess" style="color: red;"></p>
                        </div>
                        <br>
                        <div class="form_group">
                            <input id="email" name="email" rules="required|email" type="email" placeholder="Email">
                            <p class="form_mess" style="color: red;"></p>
                        </div>
                        <br>
                        <div class="form_group">
                            <input id="password" name="password" rules="required|min:6" type="password" placeholder="Password">
                            <p class="form_mess" style="color: red;"></p>
                        </div>
                        <br>
                        <div class="form_group">
                            <input id="sdt" name="sdt" rules="required|min:10|max:11" type="number" placeholder="Phone number">
                            <p class="form_mess" style="color: red;"></p>
                        </div>
                        <br>
                        {{!-- <div class="form_group">
                            <input id="Tinh" name="Tinh" rules="required" type="text" placeholder="Tinh/Thanh pho">
                            <p class="form_mess"></p>
                        </div> --}}
                        <br>
                        <!-- <br>
                        <div class="form_group">
                            <input id="confirm_password" name="confirm_password" rules="required|min:6" type="password" placeholder="Confirm Password">
                            <p class="form_mess"></p>
                        </div> -->
                        <br> <br>
                    </div> 

                    <div>
                        <button type="submit" class="form_submit">Đăng ký</button>
                    </div> 
                </form>
            </div>    
        </div>
    </div>

    <script src='/js/validation_form.js'></script>
    
    <script>
        var form = new Validator('#input_form');   
        form.onSubmit = function(formData) {
            login();
        }

        function login() {
            $.ajax({
                url: '/register',
                type: 'POST',
                data: {
                    name: $('#full_name').val(),
                    email: $('#email').val(),
                    password: $('#password').val(),
                    phone_number: $('#sdt').val(),
                    user_name: $('#user_name').val()
                }
            })
            .done(function(data) {
                console.log(data)
                if (data.isCreate) {
                    window.location.href = './login';
                } else {
                    $('#error_login').text(data.message)
                    $('#error_login').show();                
                }        
            })
            .fail(function(err) {
                console.log(err)
            }) 
            .always(function(data) {
                var inputs = $('[name][rules]');
                for(var input of inputs) {
                    input.oninput = function(e) {
                        $('#error_login').hide();
                    }
                }
            })
        }

         
    </script>
    
</body>
</html>